.background-gif {
    background-image:url('media/fluid.gif');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100%;
}

.button-link {
    color: orchid;
}